@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

body {
  box-sizing: border-box;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 400px;
}

.input_box, .output_box {
    margin: 15px;
    padding: 5px;
    overflow-wrap: anywhere;
    width: 100%;
}

h3 {
  font-weight: 600;
}

.input_box_text {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #caffca;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
}

.input_box_text:focus {
  outline: none !important;
  border: 1px solid #00ff00;
  
}

.output_box_text {
  padding: 20px;
  background: #e2ffea;
  border-radius: 6px;
  height: 100%;
  overflow: auto;
}